body{
	background-image:url(../images/bg.png); 
	background-position:center;
	background-repeat:no-repeat;
	background-color:#CCCCFF;
	background-attachment:fixed;
	
}
#white{
	background:#FFF;
}

#wrapper {
	margin:0px auto;
	width:900px;
	min-height:500px;
	
				
}


#login li{
	float:left;
	list-style:none;
	margin-right:10px;
	
}

#login li a{
	text-decoration:none;
}
#login li a:hover{
	opacity:0.6;

}
#header{
}
#loginAndSearch{
	float:right;
	width:200px;
}
#title{
	float:left;
	width:500px;
	
}

#content{
	clear:both;
	
	
	
}

#loginpage{
	position:absolute;
	left:454px;
	top:130px;
	width:435px;
	height:266px;
	background:#CCCCFF;
	border-radius:10px;
	border: 1px solid #999 ;
	padding-left:50px;
	color:#666;
	
	
		
}

#loginpage h3{
	font-family:Century Gothic;
	font-size:19px;
	font-weight:normal;
}

#loginButton{
	width:110px;
	height:40px;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

